body{
	background-color:f20e1f
	}
	
	#marik{
		color:white
		font-family:arial black
	}
	
	
      #navbar {
		vertical-align
        margin: 0;
        padding: 0;
        list-style-type: none;
        border: 2px solid #7d0009;
        border-radius: 20px 5px;
        width: 550px;
        text-align: center;
        background-color: #b7010e;
      }
      #navbar li { display: inline; }
      #navbar a {
        color: #fff;
        padding: 5px 10px;
        text-decoration: none;
        font-weight: bold;
        display: inline-block;
        width: 100px;
		
			
	